@model ProjetoFinal.Models.Departamento

@{
    ViewData["Title"] = $"Departamento: {Model.Nome} ({Model.Sigla})";
}
<h1>@ViewData["Title"]</h1>

<p>Id: @Model.Id </p>
<p>Nome: @Model.Nome</p>
<p>Sigla: @Model.Sigla</p>
<p>Descrição: @Model.Descricao</p>
<p>Bloco: @Model.Bloco</p>
<p>Telefone: @Model.Telefone</p>
<p>E-mail: @Model.Email</p>

